image: node:20

variables:
  GIT_DEPTH: 1
  NODE_VERSION: "20"

cache:
  paths:
    - node_modules/

stages:
  - build
  - deploy

before_script:
  - |
    apt-get update -qq && apt-get install -y -qq
    libnss3 libatk-bridge2.0-0 libdrm2 libxkbcommon0
    libxcomposite1 libxdamage1 libxfixes3 libxrandr2
    libgbm1 libasound2 libpango-1.0-0 libcairo2 libatspi2.0-0
  - node --version
  - npm --version
  - npm ci

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - build/
    expire_in: 1 hour
  only:
    - main
    - master

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - mkdir -p public
    - cp -r build/* public/
  artifacts:
    paths:
      - public
  only:
    - main
    - master
