variables:
  GIT_DEPTH: 1

before_script:
    - apt-get update -qq && apt-get install -yqq python3-pip python3-dev
    - pip3 install -U sphinx
    - pip3 install -U sphinx_rtd_theme sphinx_material

pages:
  stage: deploy
  script:
    - cd docs
    - make html
    - sphinx-build --version
    - mv build/html ../public
  artifacts:
    paths:
    - public
  only:
  - master
