image: node:20

variables:
  GIT_DEPTH: 1
  NODE_VERSION: "20"

cache:
  paths:
    - node_modules/

stages:
  - build
  - deploy

before_script:
  - node --version
  - npm --version
  - npm ci

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - build/
    expire_in: 1 hour
  only:
    - main
    - master

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - mkdir -p public
    - cp -r build/* public/
  artifacts:
    paths:
      - public
  only:
    - main
    - master
