.metadata {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--ifm-color-emphasis-300);
}

.metadataItem {
  margin-bottom: 0.5rem;
}

.metadataItem:last-child {
  margin-bottom: 0;
}
